*{
	font-family: sans-serif;
	margin: none;
}

body{
	display: block;
	width: 100vw;
	margin: none;
	text-align: center;
	overflow-x: hidden;
}

body.in-menu{
	overflow: hidden;
}

.button-wrapper{
	display: inline-block;
	width: 85%;
	text-align: left;
}

.clear-button{
	background: #0d3759;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	border-radius: 15px;
	cursor: pointer;
}

.clear-button.disabled{
	display: none;
}

.clear-button.active{
	display: inline-block;
}

.desktop{
	overflow-x: hidden !important;
}

.menu-toggle{
	display: block;
	position: fixed;
	width: 300px;
	padding: 25px 0px;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	left: -300px;
	background: white;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
	z-index: 150;
	cursor: pointer;
	transition: 0.5s;
}

.menu-toggle:hover{
	width: 400px;
}

.main-menu, .genre-menu, .year-menu{
	display: block;
	position: fixed;
	width: 100%;
	max-width: 550px;
	height: 100vh;
	left: -100vw;
	top: 0px;
	background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
	z-index: 100;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
	transition: 1s;
	padding-top: 150px;
	overflow: scroll !important;
}

.menu-item{
	display: block;
	text-align:left;
	padding: 20px 50px;
	font-size: 1.75rem;
	font-weight: bold;
	background: white;
	color: black;
	margin-bottom: 20px;
	text-decoration: none;
	cursor: pointer;
}

.internal-header{
	display: inline-block;
	width: 85%;
	text-align: left;
	padding: 50px;
}

.internal-header #title{
	display: block;
	font-size: 5rem;
	line-height: 0.1;
	font-weight: bold;
	text-transform: capitalize;
}

.internal-header #library-length{
	display: block;
	font-size: 1.5rem;
}

.desktop{
	overflow-x: hidden !important;
}

.desktop .library-container{
	display: block;
	text-align: center;
}

.title{
	display: block;
	font-size: 2.3rem;
	line-height: 1;
	font-weight: bold;
}

.director{
	display: block;
	padding: 15px 0px;
	font-size: 1.3rem;
	line-height: 1;
	font-weight: bold;
	color: #0d3759;
}

.description{
	display: block;
	font-size: 1.2rem;
	line-height: 1.3;
}

.genre-wrapper{
	display: block;
	padding-top: 20px;
}

.genre-item{
	display: inline-block;
	padding: 7px 12px;
	background: #0d3759;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	border-radius: 5px;
}

.separator{
	display: block;
	padding: 20px 0px;
}

.separator.extended{
	display: block;
	padding: 50px 0px;
}

.mobile-container{
	display: block;
	width: 100%;
	min-height: 500px;
}


@media screen and (min-width: 1365px){
	.desktop .movie-item .details-wrapper{
		display: inline-block;
		width: 80%;
		vertical-align: middle;
	}
}

@media screen and (max-width: 1364px){
	.desktop .movie-item .details-wrapper{
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	}
}

@media screen and (min-width: 1207px) {

	.desktop .movie-item{
		display: inline-block;
		width: 85%;
		background: white;
		filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.1));
	}

	.desktop .element-wrapper{
		display: block;
		text-align: left;
		padding: 30px;
	}

	.desktop .movie-item img{
		display: inline-block;
		width: 15%;
		aspect-ratio: 1/1.5;
		object-fit: cover;
		vertical-align: middle;
		border: solid 15px white;
		filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
		border-radius: 20px;
		margin-right: 25px;
	}

	.desktop .year{
		position: absolute;
		left: 90%;
		font-size: 3rem;
		font-weight: bold;
	}
}

@media screen and (max-width: 1206px) {

	.desktop .movie-item{
		display: inline-block;
		width: 85%;
		min-height: 500px;
		background: white;
		border-radius: 20px;
		filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.1));
	}

	.desktop .element-wrapper{
		display: block;
		text-align: left;
		padding: 0px;
	}
	.desktop .movie-item img{
		display: inline-block;
		width: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
		vertical-align: middle;
		border: none
		filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
		border-radius: 20px 20px 0px 0px;
	}

	.desktop .movie-item .details-wrapper{
		display: inline-block;
		width: 80%;
		vertical-align: middle;
		padding: 30px;
	}

	.desktop .year{
		display: block;
		position: relative;
		font-size: 3rem;
		font-weight: bold;
		padding: 0px 30px 30px 30px;
	}
}
