/*

Theme: Peak Theatre

*/

* {
	font-family: sans-serif;
}

body{
	background: #efefef;
}

.breadcrumb{
	display: block;
	margin-bottom: 50px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}


.library-container{
	display: block;
	width: 100%;
	text-align: center;
	overflow-x: hidden !important;
}

.item-wrapper{
	display: block;
	width: 100%;
	padding: 25px 0px;
}

.movie-item{
	display: inline-block;
	width: 85%;
	background: white;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.1));
	border-radius: 20px;
	text-align: left;
}


.movie-item img{
	display: inline-block;
	aspect-ratio: 1/1.5;
	object-fit: cover;
	border-radius: 20px 0px 0px 20px;
	vertical-align: middle;
	margin-right: 15px;
}

.movie-item .title{
	display: inline-block;
	vertical-align: middle;
	font-size: 1.7rem;
	font-weight: bold;
}

@media screen and (min-width: 928px){
	.movie-item img{
		width: 20%;
	}

	.movie-item .title{
		width: 70%;
	}
}

@media screen and (max-width: 927px){
	.movie-item img{
		width: 35%;
	}

	.movie-item .title{
		width: 60%;
	}
}

@media screen and (max-width: 775px){
	.movie-item img{
		width: 45%;
	}

	.movie-item .title{
		width: 45%;
	}
}

#movie-image{
	display: inline-block;
	width: 45%;
	aspect-ratio: 16/9;
	max-height: 500px;
	object-fit: cover;
	border-radius: 20px;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
	vertical-align: middle;
	margin-right: 50px;
}

.content-wrapper{
	display: inline-block;
	width: 45%;
	background: white;
	border-radius: 20px;
	margin-top: 30px;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
	vertical-align: middle;
}

#title{
	display: block;
	font-size: 2rem;
	line-height: 1;
	padding: 30px 30px 0px 30px;
}

.year{
	font-size: 0.7em;
	font-weight: bold;
	line-height: 1;
}

#description{
	display: block;
	font-size: 1.3rem;
	line-height: 1.4;
	font-weight: 300;
	padding: 0px 30px;
}

.genre-wrapper{
	display: block;
	padding: 0px 30px 30px 30px;
}

.genre-item{
	display: inline-block;
	padding: 7px 17px;
	background: #d94329;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	border-radius: 10px;
	margin-right: 5px;
}

.genre-item.disabled{
	display: none;
}

#runtime{
	display: block;
	padding: 20px;
	background: #0d3759;
	color: white;
	border-radius: 0px 0px 20px 20px;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
}









