
/*

Theme: Peak Theatre

*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Deca:wght@100..900&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scrollTo{
	display:block;
	scroll-margin-top: 250px;
}

.site-wrapper{
	display: block;
	margin-top: 200px;
	opacity: 1;
	transition: 1s;
}

body{
	background: black;
	color: white;
	text-align: center;
}

h1.title{
	display: block;
	position: fixed;
	width: 100%;
	top: 0px;
	font-family: "Bebas Neue", sans-serif;
	font-size: 4rem;
	padding: 25px 0px 15px 0px;
	z-index: 2000;
	background: black;
}

#current-list{
	display: block;
	position: fixed;
	z-index: 2000;
	width: 100%;
	font-size: 1.3rem;
	line-height: 1;
	background: white;
	color: rgb(44,112,244);
	font-weight: bold;
	padding: 12px 0px;
	text-transform: uppercase;
	top: 15%;
	overflow: hidden;
}

.menu{
	display: block;
	position: fixed;
	width: 100%;
	min-height: 100vh;
	background: #0d3759;
	top: -72vh;
	left: 0px;
	z-index: 1000;
	transition: 1s;
	padding-top: 60px;
	overflow: auto;
}

.menu .control-wrapper{
	display: block;
	width: 100%;
	transform: rotate(0deg);
	position: absolute;
	font-size: 2rem;
  	cursor: pointer;
  	transition: 1s;
}

.menu .control-wrapper.top{
  	top: 0%;
}

.menu .control-wrapper.bottom{
  	bottom: 0;
}

.menu-wrapper{
	display: block;
	position: relative;
	top: 15%;
	height: 71vh;
	overflow-y: scroll;
}

.menu-wrapper .menu-item{
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	cursor: pointer;
	transform: scale(1.0);
	transition: 0.3s;
}

.menu-item:active{
	transform: scale(1.3);
}

.movie-item{
	display: flex;
	width: 100%;
	justify-content: center;
  align-items: center;
	aspect-ratio: 4/3;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.1));
	max-height: 500px;
	transition: 1s;
}

.movie-item .title{
	display: block;
	font-family: "Bebas Neue", sans-serif;
	font-size: 4em;
	line-height: 1;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
	opacity: 1;
	transition: 0.5s;
}

.movie-item .title .year{
	display: block;
	font-size: 0.5em;
	line-height: 1;
	font-family: sans-serif;
	font-weight: bold;
	opacity: 1;
	transition: 0.5s;
}

.selected .movie-item{
	max-height: 200px;
}

.selected .movie-item .title, .selected.title.year{
	opacity: 0;
}

.movie-details{
	display: block;
	width: 100%;
	height: 0px;
	background: white;
	padding: 0px;
	transition: 1s;
	text-align: left;
	color: black;
	opacity: 0;
}

.selected .movie-details{
	height: 300px;
	padding: 20px;
	opacity: 1;
}

.movie-details .title{
	display: block;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1;
}

.movie-details .director{
	display: block;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 7px 0px;
	color: rgb(44,112,244);
}

.movie-details .genre{
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	padding: 7.5px 15px;
	margin-right: 5px;
	background: #0d3759;
	color: white;
	transform: scale(1.0);
	cursor: pointer;
	transition: 0.3s;
}

.genre:active{
	transform: scale(1.3);
}
