/*

Theme: Peak Theatre

*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Deca:wght@100..900&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
	background: black;
	color: white;
	text-align: center;
}

h1{
	display: block;
	font-family: "Bebas Neue", sans-serif;
	font-size: 6rem;
	padding: 25px 0px 15px 0px;
}

.movie-item{
	display: flex;
	width: 100%;
	justify-content: center;
  	align-items: center;
	aspect-ratio: 2/1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.movie-item .title{
	display: block;
	font-family: "Bebas Neue", sans-serif;
	font-size: 4em;
	line-height: 1;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
}

.movie-item .title .year{
	display: block;
	font-size: 0.5em;
	line-height: 1;
	font-family: sans-serif;
	font-weight: bold;
}
