@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Encode+Sans+Condensed:wght@400;700&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden !important;
}

body{
    cursor: none;
    background: black;
}

#default{
    display: block;
    position: fixed;
    width: 100%;
    top: 0px;
    transition: 2s;
    z-index: 100;
}

.top-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 225px;
    background-image: url('https://raw.githubusercontent.com/t-yauk/peak-theatre/main/entrance-screen/Artboard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.1));
    z-index: 50;
}

.top-box .left-box{
    display: block;
    width: 50%;
    float: left;
    font-family: "Bebas Neue", sans-serif;
    font-size: 7rem;
    color: black;
    margin-left: 25px;
}

.top-box .right-box{
    display: block;
    width: 45%;
    float: right !important;
    color: black;
    text-align: right;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}

#showtime{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
}

#poster{
    display:block;
    width:100%;
    min-height: 1600px;
    object-fit: cover;
}
