@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Deca:wght@100..900&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header{
	display: block;
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 10px 5px 0px 5px;
	background: white;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
}

.header h1{
	display: block;
	font-family: "Bebas Neue", sans-serif;
	font-size: 5rem;
	color: rgb(44,112,244);
	line-height: 1;
}

a{
	text-decoration: none !important;
}

.main{
	position: relative;
	top: 50px;
}

.insight-box{
	display: flex;
	position: relative;
	justify-content: center;
  	align-items: center;
	width: 100%;
	border-radius: 30px;
	background: rgb(44,112,244);
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	font-size: 5rem;
	line-height: 1;
	color: white;
}

.insight-box a{
	color: white;
}

.prefix{
	display:block;
	font-size: 0.7em;
	line-height: 1;
}

#now-playing{
	
}
